# whiteList
/*
/**/probe/**
!/minecraft

# github
!/.github/
!/.github/**

# vscode
!/minecraft/.vscode/
!/minecraft/.vscode/settings.json

## config只应手动添加更改的文件
#!config/
#!config/**

# kubejs
!/kubejs/
!/kubejs/assets/**
!/kubejs/client_scripts/**
!/kubejs/server_scripts/**
!/kubejs/startup_scripts/**
**/example*.*

# file
!/minecraft/eslint.config.js
!/minecraft/package.json
!/.gitignore
!/manifest.json
!/README.md
!/LICENSE