*/*
*
*.log
*.jar
example.*
**/probe

#whiteList
!.github/
!.github/**

!.vscode/
!.vscode/settings.json

## config只应手动添加更改的文件
#!config/
#!config/**

!kubejs/
!kubejs/assets/**
!kubejs/client_scripts/**
!kubejs/server_scripts/**
!kubejs/startup_scripts/**

!eslint.config.js
!package.json
!.gitignore
!manifest.json