# whiteList
/**
/**/probe/**

# blackList
/**/saves
/**/screenshots

# github
!/.github/
!/.github/**

# vscode
!/.vscode/
!/.vscode/settings.json

## config只应手动添加更改的文件
#!/config/
#!/config/**
#!/defaultconfigs/
#!/defaultconfigs/**

# kubejs
!/kubejs/
!/kubejs/assets/
!/kubejs/assets/**
!/kubejs/client_scripts/
!/kubejs/client_scripts/**
!/kubejs/server_scripts/
!/kubejs/server_scripts/**
!/kubejs/startup_scripts/
!/kubejs/startup_scripts/**
!/kubejs/data/
!/kubejs/data/**
**/example*.*

# mod
!/mods
!/mods/*
#!/mods/.index/
#!/mods/.index/*.pw.toml

# file
!/eslint.config.js
!/package.json
!/.gitignore
!/manifest.json
!/modlist.html
!/README.md
!/LICENSE
!/.packignore
!/instance.cfg
!/mmc-pack.json